/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* HOME STYLING */


/* General Site Styles across all 3 pages */

body{
    font-family: "Montserrat";
    background-color: #ffcab1;
}

nav{
   background-color: rgba(226,252,239,255);
    padding-top: none;
}

nav ul{
    list-style: none;
}

a:visited{
    color: inherit;
}

nav a:hover{
    color: #352135;
}

nav ul{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

footer ul{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 3rem;
}

footer li{
    background: white;
    padding: 20px;
    border-radius: 50%;
}

nav li{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
}

ul a{
text-decoration: none;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.5rem;
    padding-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

main{
    background-color: #6e8894;
    padding-bottom: 15px;
}
.whitetext{
    color: white;
}

footer{
    background-color: #352135;    ;
}

p{
    margin-left: 10px;
    margin-right: 10px;
}


/* Mobile Styles */
@media (max-width: 768px) {
   body{
    font-size: 1.4rem;
   }

   .homepageimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
    
  }

  /* Tablet Styles */

  @media (max-width: 992px) and (min-width: 600px) {
    .homepageimage{
        display: block;
        margin-left: auto;
        margin-right: auto;
       }

       body{
        font-size: 1.7rem;
       }

       .maintextcontainer{
        margin-right: 50px;
        margin-left: 50px;
       }
  }

/* Desktop Styles */



  @media (min-width: 993px) {
    .maintextcontainer{
        padding-left: 50px;
        padding-right: 50px;
        margin-right: auto ;
        margin-left: auto;
        max-width: 1200px;
        
    }

    body{
        font-size: 2rem;
       }


   .homepageimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

  }




  /* SERVICES STYLES */
  

/* General Site Styles */







  /* Mobile Styles */

  @media (max-width: 768px) {
    body{
     font-size: 1.4rem;
    }
 
    .servicestext{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
    }
    .servicesimage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
       }
}


  /* Tablet Styles */

  @media (max-width: 992px) and (min-width: 600px) {
    .servicesimage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top:50px;
       }
       .servicestext{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }
    .servicescontainer{
        margin-right: 10px;
        margin-left: 10px;
       }
}

/* Desktop Styles */
@media (min-width: 993px) {
    .servicescontainer{
        padding-left: 50px;
        padding-right: 50px;
        margin-right: auto ;
        margin-left: auto;
        max-width: 900px;
        
    }

    .servicesimage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
       }

       .servicestext{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
}
}

/*CONTACT STYLES */

/* GENERIC SITE STYLES */

.contacttext{
    padding-bottom: 40px;
}

.contactlist{ 
    margin-left: 20px;
    margin-right: 20px;
}

.contactlist{
    padding-bottom: 40px;
}

.contactlist li{
    margin-top: 20px;
    margin-bottom: 20px;
}


form{
    max-width: 95%;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

form input[type=text] {
    height: 30px;
    margin-top: 4px;
    width: 100%;
    margin-bottom: 10px;
    }
    
    form input[id="message"] {
        height: 150px;
    }
    
    form [type=submit] {
    
        margin-top: 20px;
      
      
    }

    .contactheading{
        border-top: 3px;
        border-color: black;
    }

/* Tablet Styles */

@media (max-width: 992px) and (min-width: 600px) {

    .contactcontainer{
        margin-right: 50px;
        margin-left: 50px;
    }

}


    /* Desktop Styles */
@media (min-width: 993px) {
    .contactcontainer{
        padding-left: 50px;
        padding-right: 50px;
        margin-right: auto ;
        margin-left: auto;
        max-width: 900px;
        
    }

    main {
        margin-right: auto ;
        margin-left: auto;
        max-width: 900px;
    }
}